.post-card {
    transition: transform 0.3s;
}

.post-card:hover {
    transform: scale(1.02);
}

.post-card img {
    height: 300px;
    object-fit: cover;
}

.author-date {
    font-size: 0.9rem;
    color: #6c757d;
}

.cata p {
    margin: 0;
    font-size: 0.85rem;
}

.post-content {
    white-space: pre-line;
}